django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf_yasg
django-browser-reload
mysqlclient
psycopg
psycopg-binary
lxml
numpy
FlagEmbedding
transformers<5,>=4.30.0
psycopg2